[2021-11-25 22:15] blackfalcon opened #5 "What am I doing wrong?"
I have the following code

[code]

In the browser I see

<img width="1107" alt="Screen Shot 2021-11-25 at 2 13 14 PM" src="https://user-images.githubusercontent.com/181089/143503956-e99177f3-d34c-4848-8078-7e4de85403b6.png">

I am not seeing the color turn to green?

[2021-11-26 00:27] jakob-e opened #6 "Relative length error"
First of all – thank you for taking on this task - it is highly appreciated :-)

It seems like there is an issue when trying to compare relative and absolute lengths
resulting in an  error "`Did not find expected sequence px`"

[code]

[code]
Related to: https://github.com/GoogleChromeLabs/container-query-polyfill/blob/68425cc0e3e4399abfcf2cd26fbf3bfe0310b517/src/engine.ts#L430

Maybe something li

[2021-11-26 11:51] lazka opened #7 "Web Components support?"
Are there any plans to make it possible to just apply this to a single web component without changing any global state? For example with https://lit.dev/ ?

[2021-11-29 21:05] jakob-metro opened #8 "Error parsing stylesheets that contain a comment at the end"
I decided to give this a run on a boilerplate WordPress theme we developed. I added the iife script from unpkg.com to the footer of my site as per the instructions.

My stylesheets are compiled via sass and include a sourcemap comment as part of the build process.
[code]

When this sourcemap comment is included _at the end of the file_ I get an error in the promise.
![image](https://user-images.gi

[2021-11-29 21:36] jakob-metro opened #9 "Error parsing stylesheets where media query contains classname that contains the string 'container-'"
Given the following stylesheet:
[code]
This gets parsed fine, without error, but the following cases
[code]
Causes the following error
![chrome_GzAqzOeIvz](https://user-images.githubusercontent.com/61976108/143946012-f9097fd8-63ea-49f9-8696-5e34ea940e08.png)

As you can see, this only happens if the stylesheet contains a class name that contains the string `container-`, within a media query

It se

[2021-11-29 21:52] jakob-metro commented on #8
Reviewing the readme, it seems that comments interspersed within the stylesheet is discouraged

Nevertheless, the practice of linking sourcemaps is very common practice, so the script should be equipped to handle that case.

[2021-12-01 09:08] hmmhmmhm opened #10 "Is it compatible with IE?"
I wonder this polyfill is how far browser will support.

[2021-12-02 15:25] surma commented on #6
Yup, as stated in the README in the limitations section:

I have no good way of resolving non-px values until Typed OM lands everywhere.

[2021-12-02 15:26] surma commented on #7
Not yet. In general, ShadowDOM is not supported (I need to add that to the list!)

[2021-12-02 15:27] surma commented on #5
@jakob-metro is correct. You have defined a container query, but not a container :) Closing this.

[2021-12-02 15:27] #5 closed

[2021-12-02 15:28] surma commented on #9
Yeah you are right, a string match matches here that technically shouldn’t. I’ll have a think on how to solve this.

[2021-12-02 15:28] surma commented on #8
A comment at the end of a file should be fine. This is probably a bug that I can fix.

[2021-12-02 15:32] surma commented on #10
It says in the README. I updated the README to make it more clear. IE is not supported because it does not have `ResizeObserver`.

[2021-12-02 15:32] #10 closed

[2021-12-02 15:36] surma commented on #8
Fixed in 3bb4b69

[2021-12-02 15:36] #8 closed

[2021-12-02 15:37] surma commented on #7
Updated the README. Gonna leave this open in case anyone has an idea how to handle ShadowDOM without doing something horrible.

[2021-12-02 16:19] lazka commented on #7
Thanks. Yeah I guess that would require quite a few changes. The API could be something like (unless I'm missing something):

[code]

[2021-12-03 21:42] bramus opened #12 "Support new syntax"
As per [tweet](https://twitter.com/TerribleMia/status/1466835751224721408) by @mirisuzanne:

_(Can't seem to find an issue/commit that mentions this [^1], so this tweet will have to do for now)_

An example CQ would be:

[code]

[^1]: https://github.com/w3c/csswg-drafts/issues/6393 should be the one, though.

[2021-12-04 12:20] surma commented on #12
According to [the spec](https://drafts.csswg.org/css-contain-3/#container-queries), that’s _additional_ syntax, so I’m surprised things are breaking?

But yes, I might look into adding support for the (imho superior) `(width > 50px)` syntax. Actually, `style(...)` shouldn’t be too hard to do either.

[2021-12-09 15:55] hog-seruj opened #13 "Error when build with Webpack"
ERROR in ./node_modules/container-query-polyfill/cqfill.js 63:36
Module parse failed: Unexpected token (63:36)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
|   let borderBox;
|   if ("borderBoxSize" in entry) {

|   } else {
|     const computed = getComputedStyle(entry.target);
 @

[2021-12-09 16:00] robertpiosik opened #14 "Pseudo elements support"
Please, add support for pseudo elements 🙏🏻

[2021-12-09 16:10] surma commented on #13
Seems like your version of webpack doesn’t support `.?` or `??`. I can’t help you with configuring webpack tho.

[2021-12-09 16:11] surma commented on #14
Don’t think that’s possible as they are _pseudo_ elements, they don’t have a real DOM handle. As a result, I can’t observe them with `ResizeObserver`.

[2021-12-09 16:12] hog-seruj commented on #13
"webpack": "^5.40.0",

[2021-12-09 16:13] hog-seruj commented on #13
const glob = require('glob');
const path = require('path');
const SpriteLoaderPlugin = require('svg-sprite-loader/plugin');
const TerserPlugin = require('terser-webpack-plugin');
const WarningsToErrorsPlugin = require('warnings-to-errors-webpack-plugin');
const options = require('./options');

const mapCssFilenamesToEntries = (pattern, globOptions) =>
  glob.sync(pattern, globOptions).reduce((entr

[2021-12-09 16:31] surma commented on #13
Again, I can’t help you with webpack. I don’t know webpack. You need to find out how to enable “nullish coalescing operator” and “optional chaining operator” in webpack.

I’m gonna close this. Please ask the webpack folks for help :D

[2021-12-09 16:31] #13 closed

[2021-12-09 16:33] hog-seruj commented on #13
@surma  Thx for your work. May be will be helpful for other: this is work with Webpack https://github.com/jsxtools/cqfill

[2021-12-09 22:43] robertpiosik commented on #14
Yeah, that's unfortunate, created #15 to metion it in the readme.

[2021-12-09 22:43] #14 closed

[2021-12-20 06:12] robertpiosik opened #16 "container-name support"
Looks like not supporting `container-name`.

[CSS_Container_Queries#container-name](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Container_Queries#container-name)

[2021-12-20 12:20] surma commented on #16
It does support named containers. ([Here](https://github.com/GoogleChromeLabs/container-query-polyfill/blob/main/tests/named.html)’s one of the tests)

[2021-12-20 12:20] #16 closed

[2021-12-21 18:46] rafkus opened #17 "Polyfill removes styles from empty style tags which contains some CSS rules."
Hello!
I wanted to introduce this polyfill into our project, but... I wouldn't be here if all went well :)

When I added the script I noticed some margins disappeared. Margins were added by [mui](https://mui.com/) `makeStyles` hook. According to this post (https://github.com/mui-org/material-ui/issues/16756#issuecomment-529024566) it seems to create empty `style` tags... which are not empty.

You

[2022-01-10 15:45] RobM-ADP commented on #7
For web components, we typically use constructable stylesheets which would add another layer of complexity. Supporting web components would be a huge win though.

[2022-01-10 20:01] Z33 opened #18 "Local CSS Imports"
Hey there, I'm dealing with a legacy system so I've opted to use the IIFE version. However, It's now throwing the following error on my stylesheets containing local imports.

Uncaught (in promise) Error: (styles.css): Advanced beyond the end

Removing the imports resolved the issue and allowed the script to do its job once more. I can look into alternative methods to my CSS imports, but hopefully

[2022-01-11 11:56] surma commented on #18
Are you talking about `@import`? Because yes, I totally did not add support for that. Can you give me a small code sample that breaks?

[2022-01-12 15:20] speciale commented on #18
I think I have a hint. Blocks when adding a ccs file with @import OR with :root {--whatever}. Then I have another problem: doesn't work with CSP, beacaus of blob:URL

[2022-01-13 21:54] Z33 commented on #18
So I tried to recreate this outside of my other environment and all seems fine with the import. I need to look more into this come Monday.

https://codepen.io/ThomasDaugherty/project/editor/AMQRLd

[2022-01-14 16:36] Z33 commented on #18
I managed to find a moment. So I've updated that pen above to include a quick toggle to help showcase the issue.

Success: good.css, Includes styling for the card module, Includes :root, Zero imports.
Failure: bad.css, Only imports good.css

[2022-01-15 11:30] kspar opened #20 "Infinite loop when parsing HTML document with curly brackets"
Hey, I'm using the [Super Dark Mode](https://chrome.google.com/webstore/detail/super-dark-mode/nlgphodeccebbcnkgmokeegopgpnjfkc) browser plugin that injects a fake stylesheet link without href into the HTML (see example below). This causes cqfill to parse the main HTML document as CSS.

And for some reason, if the HTML contains Mustache/Handlebars templating tags in a specific order, cqfill lands

[2022-01-15 16:46] #17 closed

[2022-01-15 16:46] #20 closed

[2022-01-15 16:47] surma commented on #17
Should be fixed in v0.1.2 :)

[2022-01-15 16:47] surma commented on #20
Should be fixed in v0.1.2 :)

[2022-01-15 21:25] Zachiah opened #21 "Issues with dynamically added styles"
Hi! It seems like the polyfill isn't working on my SPA when new styles are loaded, is this expected? and if so is there a workaround?

[2022-01-15 23:43] surma commented on #21
No, that should work. Can you create a small, reproducible test case that shows the problem?

[2022-01-16 19:57] Zachiah commented on #21
Will try! thanks for the reply

[2022-01-23 21:23] pechisworks opened #22 "Does not work with Angular"
Here is a simple Stackblitz example with Angular:
[https://stackblitz.com/edit/angular-fs9pjh](https://stackblitz.com/edit/angular-fs9pjh)

When i enable the [Container Queries Flag in Chrome](chrome://flags/#enable-container-queries) it is working, but not with the polyfill.

[2022-01-24 10:07] surma commented on #22
Hm, seems like Angular does CSS pre-processing of it’s own. The CQ Polyfill _is_ working (as in, it’s transpiling the CSS) successfully. Here’s the style that’s in the repro you provided:

[code]

The last selector is clearly generated by the cq polyfill. I’m guessing Angular’s transpiler doesn’t support `:is()` yet, as it doesn’t tough the `::ng-deep`. There’s not much I can do.

Someone with Ang

[2022-01-25 13:46] thomasheartman opened #23 "Exceptions relating to media queries"
Hi 👋🏼 Super stoked to see a polyfill for this! Thanks for your work 😄

I wanted to try this out on a Docusaurus page for a custom component, but when loading the polyfill, I get the following two errors:

[code]

[code]

I'm not entirely sure what's going on, but it seems to me that `@media[...]` gets picked up as a rule and that it breaks some queries. That said, I may very well be doing somethin

[2022-01-25 17:27] Nagell commented on #23
Same here. Is there any reason why @media should not be used with container queries?

[2022-01-25 18:49] surma commented on #23
Can either of you provide me with a as-small-as-possible stylesheet that triggers this exception? As long a you don’t nest CQs inside MQs, it is _supposed_ to work, but there might be bugs :D

[2022-01-26 09:44] thomasheartman commented on #23
I can try if it's relevant, but in my case, I don't even need to use container queries in my styling. Just importing the polyfill causes the errors.

On closer inspection, my guess is that it's these lines in the docusaurus styles (line 3019--3023) that cause the problem and that it's related to #9. The lines in question are:

[code]

[2022-01-26 09:48] Nagell commented on #23
There it is:

`.container {
	margin-left: auto;
	margin-right: auto
}

.container-fluid {
	width: auto;
	max-width: 100%;
	margin-left: 1.5rem;
	margin-right: 1.5rem
}

@media (min-width: 768px) {
	.container-fluid {
		margin-left: 2rem;
		margin-right: 2rem
	}
}

.container {
	width: 100%
}

@media (min-width: 640px) {
	.container {
		max-width: 640px
	}
}

@media (min-width: 768px) {
	.container

[2022-01-26 09:50] kspar opened #24 "Container query stops working when changing DOM"
It seems that under some specific circumstances, changes in DOM either aren't detected or for some other reason, the generated class is not reattached to `@container`-affected elements.

It seems that two container queries are needed to reproduce the issue.

Minimal example: https://jsfiddle.net/edt3b1Lz/
After clicking on `Render A`, `.a`'s container query stops working until the container is res

[2022-01-26 16:32] Nagell opened #25 "'container-type' is overwritten"
My container Class is using:

[code]

but if this plugin is active the first instance is always changed to
[code]

the plugin is still working somehow, despite it is throwing an error,
but changing `container-type: size` to `contain: size` can cause
some serious problems (and in my case it does).

https://developer.mozilla.org/en-US/docs/Web/CSS/contain

[2022-01-27 02:17] Blazsoul opened #26 "Styled components integration"
Hey guys

First i want to say thank you for this polyfill, finally cqfill that really is maintained.
Just a quick question, do you know if there is a way to combine it in styled-components?

Thanks!

[2022-01-27 09:21] surma commented on #25
Can you give me a small reproduction case in a gist or something where the results are different with the polyfill than with native CQs in Chrome Canary or something?

[2022-01-27 09:24] Nagell commented on #25
Yup

[code]

[2022-01-27 10:02] Nagell commented on #25
Here it is:
https://gist.github.com/343f39faf18dd0c009adb9d326c0fe85#file-index-html

[2022-01-30 16:01] Blazsoul commented on #24
I am experiencing the same thing, my components loads in async(about 7 secs after cqfill loads), and sometimes cqfill handles it well, but most of the time it doesn't.
Resizing fixing my issue as well

[2022-02-01 20:45] tgardnerAC commented on #18
I'm seeing the same problem with this when trying to include the IIFE. The only container query I've got on the page is included just before this script. You can see the error here: https://tim.ac-leo.com

[2022-02-03 10:44] aKzenT commented on #9
@surma Any updates on this? We have a large code base with many "container" classes and this issue is currently preventing us from using the library.

[2022-02-03 14:11] PriitPaluoja commented on #24
Are there any updates on this?

[2022-02-09 05:48] JulioC commented on #26
Styled-components won't generate styles with `@container` properly. This appears to be caused by the CSS processor they use, which [doesn't recognize it](https://github.com/thysultan/stylis/blob/d09db4c354110c41654fd817ce101976b078d8f7/src/Enum.js) yet.

I've also tried @emotion/styled, without success.

[2022-02-09 21:51] Blazsoul commented on #26
Eventually i did find some workaround
I inserted "@media @container" inside the styled components string and replaced the generated style tags from the html with @container

[code]

[2022-02-09 22:27] JulioC commented on #26
@Blazsoul how and when do you get the style tag reference?

[2022-02-09 22:44] Blazsoul commented on #26
Whenever they mounted, Personally in my project i inject the styles with StyleSheetManager
So its pretty easy catching the style elements this way, Try to find an easy way to target your styled components style tags

[2022-02-13 04:58] jakehamilton commented on #9
I took a look and I think this is the line being referenced: https://github.com/GoogleChromeLabs/container-query-polyfill/blob/main/src/engine.ts#L291

It is a bit awkward since the whole block is being searched. Without constructing an AST it is hard to determine if this is a part of a selector or a rule.

Maybe the simplest option for now would be to add a way to disable the "content-" syntax?

[2022-02-20 22:50] Blazsoul commented on #24
Did anyone find any workaround ?

[2022-02-22 12:20] kspar commented on #24
My workaround so far has been to redraw the whole container, which isn't ideal.

[2022-02-23 04:53] ZhengRui commented on #9
I am facing the same issue right now, is there any solution to this?

[2022-03-04 10:49] WebMechanic opened #27 "Broader browser support (with possible fix)"
Hello,

it appears the restriction in supported browsers is exclusively due to the use of `:is()` in `stringifyContainerQuery()`. Both Observers have a much larger support base.

This little addition would eventually include Chrome 64/Edge 79, Firefox 69, Safari 13.1/13.7 -- all dating back to 2020, giving an additional year of supported browser.

I don't know TypeScript so I can't provide a prope

[2022-03-13 11:48] daKmoR commented on #7
Is anyone working on it? if not is there a general "plan of attack"?

would a `transpileStyleSheet` method be something to look into?

For lit specifically, I think there it will need another method before in order to convert constructible stylesheets and `css` results into a string...

besides that @lazka suggestions could work right? or is there more to take into account besides a mutation obser

[2022-03-22 11:58] naarl commented on #9
I am facing the same issue too, in a project using Angular's Material Design project because there is a CSS rule named "mat-checkbox-inner-container"

[2022-03-30 21:56] Enebz opened #31 "Failed to execute 'matches' on 'Element': '@media only screen and (max-width : 480px)"
![image](https://user-images.githubusercontent.com/46542339/160937466-b7184fd6-939d-4b37-a871-5353bced0244.png)
Theese are some errors that I am getting after trying to use **Tailwind CSS** in my **React** project. I am using the tailwindcss-container-query plugin [https://github.com/dgknca/tailwindcss-container-query](url).

[2022-03-31 11:27] #31 closed

[2022-03-31 12:00] Enebz opened #32 "Polyfill conflicting with react-toastify"
**Context**
I am trying to use Polyfill in my react project where I also use TailwindCSS.

**Error message**
[code]

**Devtools Inspection**
![image](https://user-images.githubusercontent.com/46542339/161048677-c0e521e2-7630-4c7a-aa12-dffb4d7e5242.png)
As you can see the `sheetSrc` conatins react-toastify contents, and it is the entire toastify stylesheet.

**Some react toastify CSS contents**
[co

[2022-04-01 20:21] Enebz commented on #32
Yeah, and I am having the same problem as issue #9 .
Is there any way I can make the polyfill "ignore" all .css files which are not the .css files in src/?

[2022-04-04 11:56] Enebz commented on #32
@lilles helped me out and gave me this: https://github.com/lilles/container-query-polyfill/tree/skip-at-rules-20220402
which solves the issue.

[2022-04-04 11:56] #32 closed

[2022-04-04 12:02] Enebz opened #34 "Container query not working after a react-route navigation."
I have a little demo here: https://github.com/Enebz/container-query-demo

Here, I noticed that the container queries doesn't work after navigating to a new page (using react-router v6)

When you are located in `/` and click the button that forwards you to `/demo`
The grid of items appears with a column width of 3, which is the default style (mobile first) and not the correct container query style

[2022-04-10 22:33] th0th commented on #31
Did you manage to resolve this @Enebz ?

[2022-04-10 23:01] Enebz commented on #31
Yes @th0th!
You have to use this as a local package though: https://github.com/lilles/container-query-polyfill/tree/skip-at-rules-20220402
It has been sent as a PR here: https://github.com/GoogleChromeLabs/container-query-polyfill/pull/33

[2022-04-21 13:10] KolyaKorruptis opened #35 "Requesting container height on container-type: inline-size"
Using this polyfill I can request a container's height on a `container-type: inline-size`:

[code]

[Live-Example](https://kolya.schwarzsilber.de/tomato-editor/#eyJoIjoiPGRpdiBjbGFzcz1cInRlYXNlclwiPlxuICDTGl9faW1hZ2VcIj48L2RpdsYnaDLRJmhsXCI+SGVhZGxpbmU8L2gyxipw0k9udHJvXCI+TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4gQWxpcXVhbSB0aW5jaWR1bnQsIG5pc2kgcXVpcyBtYXR0aXMgaW1

[2022-04-22 09:10] KolyaKorruptis commented on #35
This is the part of the spec I am referring to:
W3C Draft Level-3 on **container-type**: https://drafts.csswg.org/css-contain-3/#container-type

: Establishes a query container for container size queries on both the inline and block axis.

Establishes a query container for container size queries on the container’s own inline axis.

Chrome's native implementation does not follow this height-request

[2022-04-23 09:42] martinszeltins opened #36 "Uncaught (in promise) Error: Advanced beyond the end"
I wanted to try out this polyfill but I am getting this error:

[code]

I only have 2 simple files at the moment. Here is my `index.html`:

[code]

And here is my `style.css`:

[code]

[2022-04-25 06:30] martinszeltins commented on #34
I'm having a similar issue with Vue and Vite. After every HMR update the layout resets without the polyfill. Then I have to refresh the page for the polyfill to kick in.

[2022-04-28 08:10] KolyaKorruptis opened #37 "layout shift kills web vitals"
The transpiling of all CSS causes a re-rendering of the page and (with enough styles) a heavy layout shift that kills web vitals, an important SEO signal. This is true even for pages that do not contain any CQs.

I'm therefore thinking about transpiling the styles server side, but then I will lose native browser support for CQs. Also I am unsure if the polyfill would work in SSR.

Is there any way

[2022-05-02 09:04] RodrigoTomeES opened #38 "Document.querySelectorAll: '@media (min-width: 375px) ' is not a valid selector"
Hi,

I am using the last version of the polyfill, v.0.1.2 and I am getting the error -> Document.querySelectorAll: '@media (min-width: 375px) ' is not a valid selector

![imagen](https://user-images.githubusercontent.com/13077343/166210487-4f38d98f-ba0b-449d-8135-a1e751fe9c6b.png)

![imagen](https://user-images.githubusercontent.com/13077343/166211153-5e171e11-b41b-4c45-9988-f07aebe5d6a1.png)

I a

[2022-05-02 13:05] RodrigoTomeES commented on #23
I have the same issue, I am using the last version of the polyfill, v.0.1.2 and I am getting the error -> Document.querySelectorAll: '@media (min-width: 375px) ' is not a valid selector

![imagen](https://user-images.githubusercontent.com/13077343/166210487-4f38d98f-ba0b-449d-8135-a1e751fe9c6b.png)

![imagen](https://user-images.githubusercontent.com/13077343/166211153-5e171e11-b41b-4c45-9988-f07a

[2022-05-02 13:05] RodrigoTomeES commented on #38
Duplicated #23

[2022-05-02 13:05] #38 closed

[2022-05-02 15:24] RodrigoTomeES commented on #9
@surma do you see the pr #33 that solve this issue?

[2022-05-17 13:16] filipjakov opened #40 "Is this project dead?"
So, I saw the spec evolving and changing over the past couple of months, and the last commit happend >4 months ago?

Also @surma left Google.

Is there any plan for somebody else pick up the torch and keep this project alive?

[2022-05-18 10:21] ZaLiTHkA opened #41 "Most tests fail with a "Timeout" result"
considering that we're getting closer to "Container Queries" becoming stable, I thought it would be a good plan to start making use of them in the meantime, initially powered by the use of a polyfill...

unfortunately though, it seems the "tests" included in this repository don't really work properly.

the environment I ran this in is as follows:

* Windows 10 21H2
* Google Chrome 101.0.4951.67 (w

[2022-05-18 10:29] ZaLiTHkA commented on #41
note: I did also find [`CQFill`](https://github.com/jsxtools/cqfill), as used in the ["Container Queries with Polyfill and Grid"](https://codepen.io/cahdeemer/pen/ExmeXgp) example, linked from [this "Awesome Container Queries" list](https://github.com/sturobson/Awesome-Container-Queries)..

but alas, that one is even older, being last updated in November 2021.. and the Codepen page doesn't _appear

[2022-05-24 08:27] martinszeltins commented on #34
You could try to hook into the router's navigation and re-initialize the polyfill.

[2022-06-17 08:21] rjgotten commented on #37
You can use [CQFill](https://github.com/jsxtools/cqfill) instead. Rather than transpile CSS on the fly, it uses PostCSS to transpile support in at build-time.

[2022-06-20 07:30] yevgeniy-belov commented on #37
Unfortunately, CQFill has its own unresolved issues...

[2022-06-21 10:14] rjgotten commented on #37
Makes me wonder if it would be possible to fork the chromelabs polyfill and add an optional operating mode where it relies on pre-processed CSS, rather than on-the-fly stylesheet modification.

I mean; a 'drop in' is nice and all, but typically if you care enough about bleeding-edge CSS to start using polyfills for advanced features like container queries - you're also the type of developer with p

[2022-06-28 08:55] ZaLiTHkA commented on #41
thanks @jzombie for prompting me to try this again.

seems I'm not getting the timeout issue again now.. same computer, no new commits to the repo, same NodeJS version, but Google Chrome (stable, not dev) _literally just_ updated to `103.0.5060.66` as I went to check the current version.

one small difference to the screenshot posted above though, my test page shows `[object Object]` for a few tes

[2022-06-28 08:55] #41 closed

[2022-07-21 12:29] addyosmani opened #43 "Update polyfill to match latest spec"
A few folks have recently asked if work on this polyfill has stopped (e.g. #40). I wanted to provide a high-level update here to share status. **tl;dr: the project is very much still alive**.

Over the last few months, @devknoll has been working on a refresh of the CQ polyfill (building on top of @surma's great work) with the intent of supporting the features described in [CSS Containment Module 3

[2022-08-04 16:38] francjpd commented on #7
Ping !

[2022-08-06 07:57] yuuk commented on #34
Seems like there's no exported function to re-initialize

[2022-08-06 07:59] martinszeltins commented on #34
You can fork the lib and add a re-initialize function. That's what I did.

[2022-08-06 08:30] yuuk commented on #24
same problem here

[2022-08-06 08:34] yuuk commented on #24
same problem here

[2022-08-06 13:28] Enebz commented on #34
I'm not really sure how to go on about that.. I'm still a fresh developer with not so much experience. Could you maybe show me how you did it?

[2022-08-15 23:45] nyoung697 opened #44 "Strange behaviour when using a grid or flexbox row"
Here is an example of what I mean: https://remix-cq-polyfill.vercel.app/
Here is the code: https://github.com/nyoung697/remix-cq-polyfill/blob/main/app/components/InnerContainerQuery.tsx

In example 1, when the container width is wider, and you click on the different items, the container query for padding is lost and the text shifts up.

I tested with both a grid and flexbox. They both do the same

[2022-08-16 13:25] sea-side-syndication commented on #44
I also am seeing container rules applied to some child grid cells but not others

I notice that, for those other child grid cells that aren't working  as intended, the rules (color: yellow) are being applied according to the window size instead of the parent container

this is the css I have been using for each child grid cell

[code]

[2022-08-16 15:43] devknoll commented on #6
Thank you for your issue.

The new version of the polyfill (currently in alpha) adds support for `em`, `rem`, and the container relative units. We'd gladly consider PRs for additional units too if there's a strong desire for them.

[2022-08-16 15:43] #6 closed

[2022-08-16 16:00] devknoll commented on #7
Thank you for your issue!

As of the latest version (currently in alpha), Shadow DOM is unfortunately not supported yet, but we'd gladly consider PRs.

Generally speaking, I don't think we'd want to expose and force you to use non-standard APIs and hooks to get things working though. Instead, I think the approach we'd like to see would e.g. monkey patch `Element.attachShadow()` in order to subscri

[2022-08-16 16:01] devknoll commented on #9
This is fixed in the newest version (currently in alpha). If you have any further issues, please feel free to open a new issue.

Thank you!

[2022-08-16 16:01] #9 closed

[2022-08-16 16:03] devknoll commented on #18
This issue should be resolved by the latest version of the polyfill (currently in alpha). Please give that a try and feel free to open a new issue if you run into further troubles.

Thank you!

[2022-08-16 16:03] #18 closed

[2022-08-16 16:05] devknoll commented on #22
As @surma pointed out, this seems like an issue with Angular, and so a bug should be filed upstream there. I'm going to close out this issue, but please feel free to open a new one if you run into any further issues.

Thank you!

[2022-08-16 16:05] #22 closed

[2022-08-16 16:07] devknoll commented on #21
As Surma mentioned, this is something that should be working. I'm going to close out this issue for now, but I'm happy to reopen it if you can post a repro case.

Thank you!

[2022-08-16 16:07] #21 closed

[2022-08-16 16:09] devknoll commented on #23
This issue should be fixed by the latest version of the polyfill (currently in alpha). Let me know if you run into any further problems and I'd be happy to reopen the issue.

Thank you!

[2022-08-16 16:09] #23 closed

[2022-08-16 16:10] devknoll commented on #24
This issue should be fixed by the newest version of the polyfill (currently in alpha). Please give it a try and let me know if you run into any further issues.

Thank you!

[2022-08-16 16:10] #24 closed

[2022-08-16 16:12] devknoll commented on #25
This issue should be resolved by the newest version of the polyfill (currently in alpha). Please give it a try and let me know if you run into any further issues.

Thank you!

[2022-08-16 16:12] #25 closed

[2022-08-16 16:14] devknoll commented on #26
The polyfill should work with any library that generates `<style>` elements. Since this seems like an issue with `styled-components` not supporting the `@container` syntax, I would recommend filing an issue there if this is still a problem. Please feel free to open a new issue here if you run into a problem specific to the polyfill.

Thank you!

[2022-08-16 16:14] #26 closed

[2022-08-16 16:22] devknoll commented on #27
We've released an alpha of a new version of the polyfill with improved support for older browsers.

The specificity differences are a big concern, as we don't want to introduce features that _only_ work when using the polyfill, or behave unexpectedly when moving to a browser with native support. That's why the new version uses `:where()` instead of `:is()`. To support older browsers, you must manu

[2022-08-16 16:24] devknoll commented on #34
This should be addressed by the latest version of the polyfill (currently in alpha). Please give it a try. I'm going to close this issue for now, but I would be happy to reopen it if you're still running into problems.

Thank you!

[2022-08-16 16:24] #34 closed

[2022-08-16 16:25] devknoll commented on #35
Thank you for your issue!

The newest version of the polyfill (currently in alpha) more closely follows the spec, and does not allow you to query e.g. `block-size` on an `inline-size` container.

[2022-08-16 16:25] #35 closed

[2022-08-16 16:26] devknoll commented on #36
This issue should be fixed by the newest version of the polyfill (currently in alpha). Please give it a try and let me know if you run into any more problems.

Thank you!

[2022-08-16 16:26] #36 closed

[2022-08-16 17:03] devknoll commented on #37
One concern with offline transpilation is that it doesn't really solve the issue: your query conditions still need to be (re)evaluated on the browser, and if the conditions are different from your offline/server-side setup, you'll still get layout shift. That said, I don't think we would oppose a PR that tries to make this possible.

My current recommendation is:

1. Use the polyfill carefully to

[2022-08-16 17:03] #37 closed

[2022-08-16 17:04] devknoll commented on #40
No, the project isn't dead 😄

[2022-08-16 17:04] #40 closed

[2022-08-16 17:12] devknoll commented on #44
@nyoung697 Off the top of my head, I'm not sure why the second example is working. However, the first example isn't working because when React reconciles the DOM, it is overwriting the CSS class added by the polyfill. This should be fixed by the new version of the polyfill (currently in alpha), which uses a custom attribute rather than using `class`. Please give it a try and let me know if you run

[2022-08-16 17:12] #44 closed

[2022-08-16 19:00] martinszeltins commented on #36
Thank you @devknoll for picking this project up and continuing development after @surma left. Will give the latest version a try.

[2022-08-16 21:11] nyoung697 commented on #44
@devknoll what is the version tag for this alpha release? I installed @0.2.0, but that is broken. It hangs for a few seconds, then the polyfill fails to run and I get a warning about array length.

Thank you.

[2022-08-16 23:55] devknoll commented on #44
Thanks, I'll take a look and get back to you.

[2022-08-17 04:23] devknoll commented on #44
@nyoung697 There was an issue with how escaped tokens were being parsed and serialized that I fixed in [796f0cc](https://github.com/GoogleChromeLabs/container-query-polyfill/commit/796f0cc935ec9590f7a87c60e17aa96517c3903b) and verified with your demo. I've gone ahead and published 0.2.1.

Let me know if you run into any other issues. Thanks!

[2022-08-18 12:45] WebMechanic commented on #6
**brilliant**, that pixel restriction was bugging me the most with the previous version!
Apart from border, outline we virtually use _no pixel values_ in our designs whatsoever; it's all them various font based units.

Please consider adding "the other" font based units `ex` and `ch`; if you have `em` those should be rather trivial to include.
Thank you!

[2022-08-18 14:34] devknoll commented on #6
@WebMechanic Thanks for your input. Could you open a new issue for font relative units enhancements? Thanks!

[2022-08-22 19:10] meduzen opened #45 "Missing changelog"
I see there’s no changelog nor release tags and details, which makes tracking change difficult. It could be nice to have one.

[2022-08-23 22:14] mbarker84 opened #46 "Doesn’t work with Cascade Layers"
When using a container query within a cascade layer the polyfill no longer works.

This works:

[code]

This doesn’t:

[code]

Tested in Firefox. Full demo [here](https://codepen.io/michellebarker/pen/LYdvxNg/c3b1b0c9c0bafab1990e48b82083685f).

[2022-08-23 23:02] devknoll commented on #46
Thank you for flagging this. I fixed part of the issue in b05f99b and released 0.2.2. I need a little more time to think about a proper fix for the follow up issue, where `container` properties are overridden. I'll follow up here soon.

[2022-08-23 23:56] devknoll commented on #46
I merged 3c945dc, which I think will work, though I'll hold off on cutting 0.2.3 until after all of the tests finish running.

On browsers without `@layer` support, the polyfill uses:

[code]

This is just meant to prevent the custom variables from cascading between elements by resetting them unless they're explicitly set by something with higher specificity than `*` (0).

On browsers with `@layer

[2022-08-24 07:22] mbarker84 commented on #46
Thanks @devknoll. I’ve updated the [demo](https://codepen.io/michellebarker/pen/VwXNMWQ/1cb757183f10d9be5474fabdfc308fc4) and I can see the styles are being appended as detailed here, but I’m still not seeing the right outcome. On inspection, it seems to be that the `<p>` tag is missing the `data-cqc-XYZ` attribute, it doesn’t appear to be getting applied. If I manually add this in the inspector t

[2022-08-24 14:54] devknoll commented on #46
I've cut the 0.2.3 release now with the detailed changes, which appears to resolve the issue. Let me know if you run into any further issues!

[2022-08-24 14:54] #46 closed

[2022-08-24 15:25] mbarker84 commented on #46
Works great, thanks!

[2022-08-27 17:37] WebMechanic opened #47 "Complete Support for Font relative length units: rem, em, ex, ch, cap, ic + more (CSS Values 4)"
With 0.2.0 alpha of the polyfill now supporting the poster childs `rem` and `em` for responsive designs, it would be nice to have _complete_ support for **[font size relative length units](https://drafts.csswg.org/css-values-4/#font-relative-lengths)** to complete the picture.

With the ability to use the _element related_ `em` unit for container widths, adding other font size relative units shoul

[2022-08-27 18:01] devknoll commented on #47
Thanks for your suggestion!

The way that `em` and `rem` support work today is that the polyfill will read the computed `font-size` property on the appropriate elements to get the canonical `px` scalar value that can be used for computation and comparison.

At the moment, it's not clear to me how the additional units could be supported in a cross-browser way.

Ideally, we'd just be able to set a c

[2022-08-27 21:02] WebMechanic commented on #47
not sure about the actual "brittleness" or if that's hypothetical, but in a project also in need to translate anything to pixels I used the following quiet successfully.
[code]
Absolute positioning is required to prevent the test element from being "squished" by a sibling.

[code]
Results will likely vary and depend on the font family used as expected.

While this is untested with a gazillion cont

[2022-08-27 23:26] devknoll commented on #47
I think something like that certainly would work in a lot of cases. My concern about brittleness though is mostly that it's really easy to accidentally break in real world code. You just need a rule like...

[code]

And there's a chance that the measurements will be subtly wrong. The polyfill could try to detect this, but then you might as well just copy the relevant styles from `.container` to a

[2022-08-28 18:46] WebMechanic commented on #47
`font-weight: thin` does not exist (nor does `light`), and an internal font metric like `ch` won't change with font-weight. It should for `font-stretch` if it's a variable font and that would actually be the expected behaviour.... in any case it's precisely the size I want the content to live in...
...but I get your (hypothetical) point.

well... **that's** a huge understatement as it would be **a

[2022-08-29 16:09] devknoll commented on #47
Oops, I meant `lighter`. Thanks for the correction.

No -- but `font-weight` can easily change which font is resolved. Here's [an example](https://codesandbox.io/s/zen-greider-ip1s8u?file=/index.html).

Let me spend some more time thinking and looking into the alternatives and get back to you.

Thanks!

[2022-08-31 10:03] WebMechanic commented on #47
of course it can, which is the whole point of using this unit in the first place :D

That's also part of responsive design: respond to the various fonts available on the target system and **only then** [will a ch be a ch](https://codepen.io/WebMechanic/pen/BaxBywN) (extended Codepen).

For the same reasons it's often a bad idea to mix pixels and percentages[^1], it's a bad idea to mix certain font

[2022-09-05 13:17] bramus opened #48 "Unsupported selectors"
I’m trying out the polyfill [in this demo](https://codepen.io/bramus/pen/BaxadOa/51e50eddc1036ca8fc82045d8491b43f) and ran into problems with this snippet in Firefox:

[code]

In short, the `:has()` selector was breaking things here because Firefox does not support it (yet). I had expected the polyfill to recover from this.

[code]

What happens now in Firefox, is that the whole layout goes FUBAR:

[2022-09-06 00:05] devknoll commented on #48
Thanks for reporting this. I'll push a fix in the morning to prevent unsupported selectors from breaking the update process.

[2022-09-06 17:43] devknoll commented on #48
Fixed by [8eb2d82](https://github.com/GoogleChromeLabs/container-query-polyfill/commit/8eb2d828f72a7d3c906e43e58f3ba0f6aacf0d14)

[2022-09-06 17:43] #48 closed

[2022-09-06 20:35] argyleink commented on #47
From what I've learned while waiting for the `lh` unit and other font relative features, is that the font information isn't always even available for the browser engine, let alone JS. Fonts themselves can have bad information in them that's been accounted for by a browser, like impossible stuff for a polyfill author to know about font measurements. I agree attempts would work in many cases but not

[2022-09-07 04:54] WebMechanic commented on #47
Thank you, Adam, for the input!

I don't want the Polyfill to query font internals or to include a [mini wakamaifondue](https://wakamaifondue.com/) and we're not (yet) dealing with line blocks and the trouble this could bring (hence no `lh` and easy vertical rhythm control in browsers either... yet).

There sure are tons of shitty fonts out there and "garbage in, garbage out", but that's also my p

[2022-09-10 12:31] Enebz commented on #34
I am not able to make this work, I am trying to find the re initialization function, but I have no idea where to start.

[2022-09-10 14:54] Enebz opened #50 "REOPEN: Container query not working after a react-route navigation. #34"
I am referring to this issue: #34

Someone said "You can fork the lib and add a re-initialize function".
I do not know how to do this, but @devknoll you told me this:

_Originally posted by @devknoll in https://github.com/GoogleChromeLabs/container-query-polyfill/issues/34#issuecomment-1216866099_

I can't seem to find where this is addressed and how to add an re initialization function. I am not

[2022-09-11 07:07] dsldsl opened #51 "Chrome update broke tailwindcss-container-query (which uses container-query-polyfill)"
I've been using a plugin [tailwind-container-query](https://github.com/dgknca/tailwindcss-container-query) which uses container-query-polyfill.

After last week's [stable-channel-update-for-desktop](https://chromereleases.googleblog.com/2022/09/stable-channel-update-for-desktop.html) for Google Chrome on Mac OS, the plugin stopped working.  I dont know which library is broken, but I'd assume the o

[2022-09-11 10:32] Enebz commented on #51
Hey, I am using tailwind-container-query aswell! After surma left google, devknoll updated the entire container-query-polyfill (alpha version) which has raised a lot of confusion on my part.

I am having these issues (with the latest version, not alpha)

Issue 1
https://github.com/GoogleChromeLabs/container-query-polyfill/issues/23
Solution: https://github.com/GoogleChromeLabs/container-query-poly

[2022-09-11 11:20] dsldsl commented on #51
Thanks for the reply.  I do think it's the Chrome update because I was at burning man for a week (no code changes) and came back to it no longer working in Chrome and still working in Safari.

It will take some more time for me to create a clean sandbox example, but here's safari on the left and chrome on the right with a basic text-red tag on the text if a large container size is detected:

<img

[2022-09-11 11:24] Enebz commented on #51
Okay, hmm. I will test some more on my side as I am using exactly the same versions as you.

[2022-09-11 16:07] Enebz commented on #50
I figured it out! Thank you for this awesome upgrade for the polyfill!

[2022-09-11 16:07] #50 closed

[2022-09-11 18:27] dsldsl commented on #51
Thanks @Enebz - appreciate the responses.  How are you using the libraries?  I'm using like this:

[code]

with this tailwind config:

[code]

[2022-09-12 05:23] dsldsl commented on #51
I was able to solve this by using different syntax and it worked fine.  Will make a note to trace it through more to understand why my syntax worked last week and not this week, but for now it's good.

[2022-09-12 05:23] #51 closed

[2022-09-12 05:28] martinszeltins commented on #34
@Enebz there is no re-initialization function, you have to create it yourself.

[2022-09-14 09:26] Marshal27 commented on #7
@devknoll monkey patching Element.attachShadow() seems to work well however, the biggest hurdle I am running into is that the `CSS_Object_Model` does not have the `CSSContainerRule` yet.

https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model

any thoughts/ideas around this?

[2022-09-14 18:43] Marshal27 commented on #7
@devknoll Think I may have it sorted, update PR now.

[2022-09-17 20:31] Enebz commented on #34
I realized that, but as devknoll said, it was "addressed" in the alpha version.. I thought addressed meant "explained how to do", but it meant that it is now a feature. So I made it work.

[2022-09-22 14:36] rontav opened #54 "Firefox Uncaught Error: Expected node to have parent"
Repro: https://jsfiddle.net/jmd4a2Lc/

[code]

This code triggers a "Uncaught Error: Expected node to have parent" in Firefox (tested on versions 103 and 104). This does not happen on Chrome (105).

The problematic part seems to be the successive sync `append` and `remove` operations. The mutation observer (incorrectly?) emits a MutationRecord for the removed node.

[2022-09-26 19:10] devknoll opened #56 "Support for non-trivial CSS Selectors"
The polyfill can't currently handle each and every non-trivial CSS selector it might encounter. For example, consider the following rule:

[code]

Today, the polyfill is only guaranteed to correctly update this style when `div` is added, removed, or changed. It _should_ also be updated when, for example, `#foo` is added, removed, or changed, or any siblings after `#foo` are added/removed/changed.

[2022-09-30 02:06] #54 closed

[2022-10-13 16:00] Marshal27 commented on #56
Would the pattern of creating a `MutationObserver` per controller be a viable option for solving this? That pattern seemingly works well in the `ShadowRootController` but I am not sure if there are any potential limitations/performance concerns with that approach.

[2022-10-13 18:04] arnoudb opened #59 "can't add to angular project"
Hi, this polyfill is great! Works like charm via a CDN, but when i add it to an Angular project in the standard way (npm install and then add an import in polyfills.ts like:

[code]

I get a runtime error.

[code]

So the distribution .js calls require(). This feels a bit strange to me as this is a browser polyfill.
I tried a few other things things but no luck.

Is this a bug or do i need to do s

[2022-10-15 16:27] devknoll commented on #56
The problem is more that when e.g. `#foo` changes, we don't currently know that the sibling `div` could also be affected.

The approach of keeping track of the selectors that affect `container` or `writing-mode` properties is probably the way forward. In addition to helping removing this limitation, using it to filter the set of elements we compute the state for would improve performance quite a b

[2022-10-19 07:38] meduzen commented on #45
Closed in #63. 👍

[2022-10-19 07:38] #45 closed

[2022-10-24 15:35] DanielCordell opened #64 "":where() pseudo class not supported" in firefox version that should support it."
I am currently using firefox 106, which has support for there `:where()` pseudo-class.

However, if I attempt to run the query demo, I get the following in the console:

![image](https://user-images.githubusercontent.com/16806427/197566095-c993e4f9-27ec-4c0f-8ab6-a8173da685f8.png)

Also contained in the screenshot is proof that `where` is supported. I've also tested it manually by adding a simple

[2022-10-25 22:36] gkatsev commented on #64
Looks like it's because the check in the code is `CSS.supports('selector(:where())')` which is returning `false` but adding in `div` to the `:where(div)` makes it return true and as far as I can tell makes it work as expected.

[2022-10-25 22:40] gkatsev commented on #64
Submitted a PR for that https://github.com/GoogleChromeLabs/container-query-polyfill/pull/65

[2022-10-28 10:14] DanielCordell commented on #64
Wow, quick stuff, many thanks!

[2022-11-03 17:46] #64 closed

[2022-11-09 19:14] jakob-e opened #68 "Firefox 106 😢"
I've not had time to dig into this - but it looks like Firefox 106 has "Houston" problems 😔

[2022-11-09 19:16] #43 closed

[2022-11-09 19:22] devknoll commented on #7
We've moved the polyfill to maintenance mode and aren't currently considering additional features. For Web Component + Shadow DOM support, I'd encourage you to continue to follow @Marshal27 who was working on support for this in #57.

[2022-11-09 19:22] #7 closed

[2022-11-09 19:22] #56 closed

[2022-11-09 21:41] WebMechanic opened #69 "Firefox 107 wrongly accused of not supporting :where breaks style rules"
Hello,

#68 probably means the same thing, but is not very descriptive, so...

I'm using Firefox 107 with **v1.0.1** of the Polyfill

The console logs

listing the rules inside the affected `@container`.

**Firefox does support `:where()` for quit some time.**

As a result of this false assertion, the `@container` is still replace with a `@media all` and all rules inside are applied to the whole d

[2022-11-09 21:45] gkatsev commented on #69
This should be fixed in 1.0.2

[2022-11-09 21:49] WebMechanic commented on #69
yep! Nice!
Thanks

[2022-11-09 21:49] #69 closed, assigned to nobody

[2022-11-09 21:50] gkatsev commented on #69
You're welcome!

[2022-11-09 21:51] gkatsev commented on #68
Is the issue that it's logging the `:where` not supported in the console? If so, this is fixed in 1.0.2.

[2022-11-09 22:01] jakob-e commented on #68
I can see the warning - but I’m not sure if seeing means something was “broken” (skipped)

This example was working as expected in 105 - but stopped working in 106

https://codepen.io/jakob-e/pen/QWrzQrZ

[2022-11-09 22:14] gkatsev commented on #68
I can see the warning about `:where` support in the console. Seems to work if I force 1.0.2 https://codepen.io/gkatsev/pen/VwdPOPP

[2022-11-10 08:17] jakob-e commented on #68
This made my day - thank you so much 🤩🙏🏻

_Version 1.0.2 link - in case someone needs it_
https://cdn.jsdelivr.net/npm/container-query-polyfill@1.0.2/dist/container-query-polyfill.modern.js

[2022-11-10 09:28] Marshal27 commented on #7
Posting the link here for posterity.

https://github.com/Marshal27/shadow-container-query-polyfill

[2022-11-10 18:13] devknoll commented on #68
Closing, as it seems like it's fixed by 1.0.2.

[2022-11-10 18:13] #68 closed

[2022-11-11 00:11] dreamboyx1 commented on #59
I've been experiencing a similar issue in a Create React App application. Removing the `"type": "module",` line from the polyfill package.json seems to fix it. However, didn't want to write special code, so ended up just using a <script> tag.

[2022-11-13 03:49] dreamboyx1 opened #70 "Not working with react, tailwindcss production setup"
I've been spending way to many hours trying to get this plugin to work with our react, tailwind app. I was really excited about using it, but alas it is not going well. I've managed to put together a minimal reproducible Create React App (CRA) package here.

https://github.com/dreamboyx1/container-query-polyfill-example

- Mac Firefox 106.0.5 (64-bit)
- MacOS 12.6.1

Steps are:
`npm install`
`npm

[2022-11-14 18:30] dreamboyx1 commented on #70
Tried the older versions this morning and ~~seems to be working as expected with 1.0.1 and 1.0.0~~. Well, that is not working either.

[2022-11-22 02:44] Marshal27 commented on #59
Give v1.1.7 a try over at [Marshal27/shadow-container-query-polyfill](https://github.com/Marshal27/shadow-container-query-polyfill).

[2022-11-22 20:28] typhonrt commented on #70
@dreamboyx1.... I'm new to using this polyfill, but I spent ~12+ hours debugging my deployment issue to a complex environment that I don't totally control; lots of large style files and such. It sounds like things are working intermittingly for you just as they were for me. It turns out the old school hack of using an image to attempt to detect when the transpiled styles / data blob has loaded fai

[2022-11-24 11:35] mocanew commented on #70
Another issue I encountered on Firefox is that after the style files are processed, and link hrefs are replaced with blobs, images (e.g. `background-image`) will not work anymore. I did not research this issue further, but it seems the problem is that Firefox does not interpret URLs correctly in such cases. In addition to the image issue, after the polyfill loads and processes all styles, there's

[2022-11-27 20:17] typhonrt opened #72 "Additional Hardening: Handle edge cases"
Hi @devknoll et al.

I definitely appreciate the work done on this great polyfill. I'm aware that it is maintenance mode, but there are a couple of edge cases to work out for non-trivial use cases / deployment issues that aren't currently triggered in the local test cases. I have made a fork that solves the problems, but it would be great to have the updates considered for the official release.

T